name: CI

# Enable Buildkit and let compose use it to speed up image building
env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

on:
  workflow_dispatch:
  pull_request:
    branches: ["main", "master"]
    paths-ignore: ["docs/**"]

  push:
    branches: ["main", "master"]
    paths-ignore: ["docs/**"]

# -- these are not in the sample file ...
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

  # With no caching at all the entire ci process takes 3m to complete!
  pytest:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:7.2
        ports:
          - 6379:6379
      postgres:
        image: postgres:17
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres

    env:
      REDIS_URL: "redis://localhost:6379/0"
      # postgres://user:password@host:port/database
      DATABASE_URL: "postgres://postgres:postgres@localhost:5432/postgres"

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: "true"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install dependencies
        run: uv sync --locked

      - name: Check DB Migrations
        run: uv run python manage.py makemigrations --check

      - name: Run DB Migrations
        run: uv run python manage.py migrate

      - name: Test with pytest
        run: uv run pytest
      #--------------------------------------------------------------------------------------
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        if: |
          github.event_name == 'push'
          && (github.ref == 'refs/heads/main' || github.head_ref == 'refs/heads/master')
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          # aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }} # if you have/need it
          aws-region: ${{ secrets.AWS_CODEDEPLOY_REGION }}
      # AWS CLI Docs: https://docs.aws.amazon.com/codedeploy/latest/userguide/deployments-create-cli.html
      - name: Deploy to CodeDeploy
        # success() checks if the previous job was canceled or not
        if: ${{ success() }}
        env:
          DEPLOYMENT_GROUP: ${{ secrets.AWS_CODEDEPLOY_DEPLOYMENT_GROUP }}
          DEPLOY_APP_NAME: ${{ secrets.AWS_CODEDEPLOY_APPLICATION_NAME }}
          AWS_REGION: ${{ secrets.AWS_CODEDEPLOY_REGION }}
        run: |
          aws deploy create-deployment \
          --deployment-group-name "$DEPLOYMENT_GROUP" \
          --description="$GITHUB_SHA" \
          --application-name "$DEPLOY_APP_NAME" \
          --region "$AWS_REGION" \
          --github-location repository="$GITHUB_REPOSITORY",commitId="$GITHUB_SHA" \

      # You need to change this section for your single-execution per-deployment script
      # based on your needs
      #--------------------------------------------------------------------------------------
      - name: Run single-execution per-deployment script
        # success() checks whether the previous job was successful
        if: ${{ success() }}
        env:
          CI_CD_DEPLOYMENT_AUTH_TOKEN: ${{ secrets.CI_CD_DEPLOYMENT_AUTH_TOKEN }}
        # Migrate so we can eventually check the latest migration
        run: python manage.py deployment
# Change ends here
#--------------------------------------------------------------------------------------
